:root {
  --font-family-main: 'Montserrat', sans-serif;
  --font-family-second: 'Abril Fatface', cursive;

  --background-color: #17181a;
  --text-color-white: #fff;

  --mountain-slide-span: rgb(86, 124, 228);
  --hike-slide-span: rgb(167, 110, 231);
  --fashion-slide-span: rgb(255, 139, 93);
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 10px/16px = 0.625 => 62.5%
}

body {
  font-family: var(--font-family-main);
  background-color: var(--background-color);

  overflow-x: hidden;

  position: relative;
}

.reveal-img, .reveal-text {
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: var(--background-color);
}

.cursor {
  width: 4rem;
  height: 4rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-39%, -25%);

  transition: all .5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 95% 75%;

  pointer-events: none;

  &-nav-active {
    background-color: rgb(86, 124, 228);
    transform: scale(2);
  }

  &-explore-active {
    background-color: white;
    transform: scale(2);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
  }
}



.scrollmagic-pin-spacer {
  position: static !important;
}