.nav-header {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  min-height: 10vh;
  color: var(--text-color-white);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  z-index: 2;

  &__logo, &__logo:link, &__logo:visited {
    color: var(--text-color-white);
    font-family: var(--font-family-second);
    text-decoration: none;
    text-transform: uppercase;
  }

  &__burger-menu {
    cursor: pointer;

    &-line1, &-line2, &-line3 {
      width: 3rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: var(--text-color-white);
      pointer-events: none;
    }
  }
}