.nav-header {
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
  min-height: 10vh;
  color: var(--text-color-white);

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    color: var(--text-color-white);
    font-family: var(--font-family-second);
  }

  &__burger-menu {
    cursor: pointer;

    &-line1, &-line2, &-line3 {
      width: 3rem;
      height: 0.2rem;
      margin: 0.4rem;
      background: var(--text-color-white);
      pointer-events: none;
    }
  }
}