.main-container {
  width: 80%;
  margin: 0 auto;
  color: var(--text-color-white);
  
  
  &__mountain-slide, &__hike-slide, &__fashion-slide {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--background-color);

    &-img {
      position: relative;
      overflow: hidden;
    }

    &-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding-left: 5rem;

      position: relative;

      &--title {
        font-family: var(--font-family-second);
        font-size: 5rem;

        position: relative;
        overflow: hidden;
      }

      &--text {
        font-size: 1.5rem;
        padding: 5rem 0rem;
      }

      &--btn {
        background: none;
        border: none;
        color: var(--text-color-white);
        font-size: 1.5rem;
        text-decoration: none;
        padding: 1rem 2rem;
        border: 1px solid var(--text-color-white);
        align-self: flex-start;
        cursor: pointer;
      }
    }
  }

  &__mountain-slide-desc--title-span {
    color: var(--mountain-slide-span);
  }
  &__hike-slide-desc--title-span {
    color: var(--hike-slide-span);
  }
  &__fashion-slide-desc--title-span {
    color: var(--fashion-slide-span);
  }
}

.title-swipe {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  mix-blend-mode: darken;

  transform: translateY(100%);
}

.title-swipe-1 {
  background: var(--mountain-slide-span);
}
.title-swipe-2 {
  background: var(--hike-slide-span);
}
.title-swipe-3 {
  background: var(--fashion-slide-span);
}